/* UNIVERSAL STYLES START */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 /* UNIVERSAL STYLES END */

 body {
    background-color: #f2e9e4;
    font-family: Arial, Helvetica, sans-serif;
 }

 /* HEADER STYLES START */
 header {
     background-color: #9a8c98;
     padding: 4vh;
     color: #22223b;
     border-bottom: 2px solid #4a4e69;
 }
 
 header div {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .timer-text {
     font-size: 27px;
 }

 #time-left {
    margin-left: 5px;
    width: 30px;
 }
 /* HEADER STYLES END */

 /* MAIN STYLES START */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

#quiz {
    background-color: #c9ada7;
    width: 65vw;
    height: 50vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #22223b;
    border: 2px solid #4a4e69;
}

.quiz-title {
    font-size: 45px;
    color: #22223b;
}

.description {
    width: 43vw;
    text-align: center;
    margin: 40px auto;
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 1.3px;
    
    color: #22223b;
}

#response {
    background-color: rgb(74, 78, 105, .2);
    padding: 10px;
    margin-bottom: 10px;
}

#name {
    background-color: ;
}

#buttons {
    list-style: none;
}



.btns {
    background-color: #4a4e69;
    color: antiquewhite;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    font-size: larger;
    box-shadow: -5px 5px 5px #222222;
    width: 20vw;
}

#high-score-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#enter-initials {
    font-size:larger;
}

#name {
    width: 20vw;   
    background-color: rgb(74, 78, 105, .5);
    margin: 20px 5px;
    padding: 5px;
}

#submitBtn {
    flex-basis: 51%;
}
 /* MAIN STYLES END */